<app-barralateral></app-barralateral>

<div class="ion-page" id="main-content">

  <ion-header>
    <ion-toolbar>

      <ion-title>Vehículos</ion-title>

      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>

    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">

    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-searchbar
      animated="true"
      placeholder="Buscar vehículo..."
      (ionInput)="handleInput($event)">
    </ion-searchbar>

    <ion-card
      *ngFor="let vehiculo of results"
      routerLink="/datos-vehiculo/{{ vehiculo.idVehiculo }}">

      <!-- FOTO DEL VEHÍCULO -->
      <div style="text-align: center; padding-top: 15px;">

      <img
        *ngIf="vehiculo.fotoUrl"
        [src]="'https://proyectotransporte.onrender.com' + vehiculo.fotoUrl"
        alt="Foto del vehículo"
        style="
          width: 100%;
          max-height: 220px;
          object-fit: cover;
          border-radius: 10px;
        "
      >

        <!-- Se muestra si el vehículo no tiene foto -->
        <ion-icon
          *ngIf="!vehiculo.fotoUrl"
          name="car-outline"
          size="large"
          color="primary">
        </ion-icon>

      </div>

      <ion-card-header>

        <ion-card-subtitle>
          {{ vehiculo.modelo }}
        </ion-card-subtitle>

        <ion-card-title>
          {{ vehiculo.patente }}
        </ion-card-title>

      </ion-card-header>

      <ion-card-content>

        <strong>Próximo Km:</strong>
        {{ vehiculo.proximoKilometraje }}
        <br>

        <strong>Estado DPF:</strong>
        {{ vehiculo.estadoDpf }}
        <br>

        <strong>Observación:</strong>
        {{ vehiculo.observacion }}
        <br>

        <strong>Estado de revision:</strong>
        {{ vehiculo.estadoRevision }}

      </ion-card-content>

    </ion-card>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button routerLink="/agregar-vehiculo"  style="--background: #166534;" >
        <span style="color: #ffffff !important; font-size: 32px; font-weight: bold; line-height: 1;">+</span>
      </ion-fab-button>
    </ion-fab>

  </ion-content>

</div>