<ion-menu side="end" menuId="first" contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Bienvenido</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item routerLink="/home">Inicio</ion-item>
      <ion-item routerLink="/agregar-vehiculo">Agregar Vehículo</ion-item>
      <ion-item routerLink="/empleados">Empleados</ion-item>
      <ion-item button (click)="logout()" color="danger" detail="false">
        <ion-label>Cerrar Sesión</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>