html,
body {
  color-scheme: light !important;
}

:root {
  color-scheme: light !important;

  --ion-background-color: #f4f7fa;
  --ion-background-color-rgb: 244,247,250;

  --ion-text-color: #111827;
  --ion-text-color-rgb: 17,24,39;
}