ion-card {
  padding: 6px;
}

ion-card-title {
  font-size: 28px;
}

ion-card-content {
  font-size: 15px;
  line-height: 1.6;
}

.vehiculo-card {
  border-left: 6px solid #16a34a;
}

.vehiculo-info {
  margin-top: 10px;
}

.vehiculo-info p {
  margin: 4px 0;
  color: #374151 !important;
}

.card-actions {
  margin-top: 12px;
}