@import "@ionic/angular/css/core.css";
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import "@ionic/angular/css/display.css";

html,
body {
  color-scheme: light !important;
}

:root {
  color-scheme: light !important;

  --ion-color-primary: #16a34a;
  --ion-color-primary-rgb: 22, 163, 74;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-shade: #15803d;
  --ion-color-primary-tint: #22c55e;

  --ion-background-color: #f4f7fa;
  --ion-text-color: #111827;
}

ion-content {
  --background: #f4f7fa !important;
}

ion-toolbar {
  --background: #166534 !important;
  --color: #ffffff !important;
}

ion-card {
  --background: #ffffff !important;
  background: #ffffff !important;
  color: #111827 !important;
  border-radius: 22px !important;
  box-shadow: 0 8px 22px rgba(0, 0, 0, 0.08) !important;
}

ion-button {
  --background: #16a34a !important;
  --color: #ffffff !important;
  --border-radius: 14px !important;
  font-weight: 700;
  text-transform: none;
}

ion-item {
  --background: #ffffff !important;
  --color: #111827 !important;
}

ion-label,
ion-card-title,
ion-card-subtitle,
p,
span,
strong,
h1,
h2,
h3 {
  color: #111827 !important;
}

ion-input,
ion-select,
ion-textarea {
  --color: #111827 !important;
  --placeholder-color: #6b7280 !important;
}

ion-datetime {
  --background: #ffffff !important;
  --background-rgb: 255, 255, 255;
  --wheel-highlight-background: #dcfce7;
  --wheel-fade-background-rgb: 255, 255, 255;
  color: #111827 !important;
}

.estado-vigente {
  background: #dcfce7;
  color: #15803d !important;
  padding: 6px 12px;
  border-radius: 999px;
  font-weight: 800;
}

.estado-vencido {
  background: #fee2e2;
  color: #dc2626 !important;
  padding: 6px 12px;
  border-radius: 999px;
  font-weight: 800;
}

.estado-pendiente {
  background: #fef3c7;
  color: #b45309 !important;
  padding: 6px 12px;
  border-radius: 999px;
  font-weight: 800;
}