# Visual Studio
.vs/
*.user
*.suo

# .NET
bin/
obj/

# SQLite archivos temporales
*.db-shm
*.db-wal

# Node
node_modules/

# Ionic / Angular
www/
dist/
.angular/
.ionic/

# Logs
*.log

# Sistema
.DS_Store
Thumbs.db