<ion-menu side="end" menuId="first" contentId="main-content">
  <ion-header>
    <ion-toolbar style="--background: #166534; --color: #ffffff;">
      <ion-title>Bienvenido</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content >
    <ion-list>

      <ion-menu-toggle auto-hide="false">
        <ion-item routerLink="/Home" routerDirection="root">Inicio</ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle auto-hide="false">
        <ion-item routerLink="/ListarVehiculos" routerDirection="root">Vehículo</ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle auto-hide="false">
        <ion-item routerLink="/empleados" routerDirection="root">Empleados</ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle auto-hide="false">
        <ion-item button (click)="logout()" color="danger" detail="false">
          <ion-label>Cerrar Sesión</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>