<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="login-container">
    <h2>Bienvenido</h2>

    <ion-item>
      <ion-label position="stacked">Correo Electrónico</ion-label>
      <ion-input type="email" [(ngModel)]="email" placeholder="ejemplo@correo.com"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="password" placeholder="******"></ion-input>
    </ion-item>

    <ion-button expand="block" class="ion-margin-top" (click)="onLogin()">
      Ingresar
    </ion-button>
  </div>
</ion-content>